h1{
  font-family: 'Thasadith', sans-serif;
  text-align: center;
  padding-bottom: 72px;
}

h2{
  font-family: 'Thasadith', sans-serif;
  font-size:20px;
  padding-bottom: 72px;
}

h3{
  font-family: 'Thasadith', sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
}

header{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  font-weight:bold;
  color: black;
  padding-top: 36px;
  padding-bottom: 180px;
  background-color: #FFFFFF;
  }

body{
  background-color: #FFFFFF;
  }

footer{
  font-family: 'Thasadith', sans-serif;
  font-size: 16px;
  background-color:#f8f9fa;
  padding-bottom: 20px;
  padding-top: 30px;
  position: absolute;
  bottom:0;
  width: 100%;
  }

.profile{
  font-size: 72px;
  justify-content: center;
  font-family: 'Thasadith', sans-serif;
  padding-bottom: 40px;
}

a{
  color: #9cebd5;
}

.nav-item{
  padding-left: 20px;
  padding-right: 20px;
  }

.nav-link disabled {
  color: black;
  }

.navbar-nav {
  background-color: #FFFFFF;
  }

.navbar-brand{
  padding-left: 40px;
  }

.nav-item{
  padding-right: 40px;
  padding-left: 40px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#navbar{
  overflow: hidden;
  background-color: #FFFFFF;
  padding:40px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  }

.center{

background: white;
-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
transition: width 2s;
}

center:hover {
width: 400px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }
