h1{
  font-family: avenir;
  text-align: center;
  padding-bottom: 72px;
}

h2{
  font-family: avenir;
  font-size:20px;
  padding-bottom: 72px;
}

h3{
  font-family: avenir;
  font-size: 24px;
  text-align: center;
  color: white;
}

header{
  font-family: americantypewriter;
  font-size: 18px;
  font-weight:bold;
  color: black;
  padding-top: 36px;
  padding-bottom: 180px;
  background-color: #FFFFFF;
  }

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#332F30;
  color: white;
  text-align: center;
}

.footerstyle{
  height: 100px;
  text-align: center;
  padding-top: 30px;
  color: #FFFFFF;
  font-family: americantypewriter;
}

.nav-item{
  padding-left: 20px;
  padding-right: 20px;
  }

.nav-link disabled {
  color: black;
  }

.navbar-nav {
  background-color: #FFFFFF;
  }

.navbar-brand{
  padding-left: 40px;
  }

.nav-item{
  padding-right: 40px;
  padding-left: 40px;
  }

body{
  background-color: #FFFFFF;
}

.spacing{
  padding-top: 100px;
  padding-bottom: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#navbar{
  overflow: hidden;
  background-color: #FFFFFF;
  padding:40px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  }


.center{
width: 80px;
height: 80px;
background: white;
-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
transition: width 2s;
}

center:hover {
width: 400px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
